coremltools~=6.3
fastparquet~=2023.7
# currently highest allowed version for python 3.8 is 2023.5.1
dask~=2023.5
dask_ml~=2023.3
pandas~=1.5
s3fs==0.4.2
orjson~=3.9
svix-ksuid==0.6.1
# coremltools limits max usable version to 1.4.2 -> check once in  a while
xgboost==1.4.2
# xxhash has very few releases - pinning full version
xxhash==3.2.0
