boto3
python-dateutil
pytest
pytest_cases
pytest-env
pytest-mock
pytest-pythonpath
rstr
moto
pandas
orjson
svix-ksuid
# fastparquet
git+https://github.com/dask/fastparquet@7bf80f62b1e8b6b36baf9631e1d0da96d9f8b52e
s3fs
portion