# tracker requirements
boto3~=1.27
python-dateutil==2.8.2
pytest==6.2.5
pytest-cases==3.6.5
pytest-env==0.6.2
pytest-mock==3.6.1
pytest-pythonpath==0.7.3
rstr==3.0.0
moto==4.1.12
pandas~=1.5
orjson~=3.9
svix-ksuid==0.6.1
fastparquet==2023.7
# this works
s3fs==0.4.2
# new version of s3fs does not work in tests
portion==2.2.0

# trainer requirements
coremltools~=6.3
dask~=2023.5
dask_ml~=2023.3
# coremltools limits max usable version to 1.4.2 -> check once in  a while
xgboost==1.4.2
xxhash==3.2.0